<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.union_test.toutiao">

    <!--minSdkVersion为9时的合并-->
    <uses-sdk tools:overrideLibrary="android.support.v7.appcompat, android.support.v7.recyclerview,com.dingmouren.layoutmanagergroup,com.zyyoona7.lib,
                                        com.squareup.leakcanary, com.squareup.leakcanary.analyzer, com.squareup.leakcanary.android.noop,com.mopub.mobileads.base,com.mopub.mobileads.rewarded_video,
                                        com.mopub.mobileads.banner,com.mopub.mobileads.interstitial,com.moat.analytics.mobile.mpub,com.google.android.ads.mediationtestsuite,com.bytedance.crash" />

    <!-- 必要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 可选权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--可选，穿山甲提供“获取地理位置权限”和“不给予地理位置权限，开发者传入地理位置参数”两种方式上报用户位置，两种方式均可不选，添加位置权限或参数将帮助投放定位广告-->
    <!--请注意：无论通过何种方式提供给穿山甲用户地理位置，均需向用户声明地理位置权限将应用于穿山甲广告投放，穿山甲不强制获取地理位置信息-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--demo场景用到的权限，不是必须的-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />


    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/Theme.Light.NoActionBar"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".activity.NativeWaterfallActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.NativeBannerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllTestToolActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IpPortToolActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedRecyclerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NativeInteractionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RewardVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FullScreenVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name=".activity.DrawNativeVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.DrawNativeExpressVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.NativeExpressActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.NativeExpressListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.InteractionExpressActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.BannerExpressActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <service android:name=".service.AppDownloadService" />


        <service android:name="com.locker.service.TraceService" />

        <service
            android:name="com.locker.service.LockerService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name="com.locker.receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.locker.activity.LockerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/common_locker_screen"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".activity.PlayableToolActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            />
        <activity android:name="com.mopub.actiivity.MopubRewardedVideoActivity" />
        <activity android:name="com.mopub.actiivity.MopubFullVideoActivity" />
        <activity
            android:name="com.mopub.actiivity.MopubBannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name="com.mopub.actiivity.MopubInterstitialActivity" />
        <activity android:name=".activity.AdapterMopubActivity">
        </activity>

        <!-- MoPubBrowser adapter -->
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <activity android:name="com.google.ads.mediation.sample.activity.AdmobBannerActivity" />
        <activity android:name="com.google.ads.mediation.sample.activity.AdmobInterstitialActivity" />
        <activity android:name="com.google.ads.mediation.sample.activity.AdmobFullVideoActivity" />
        <activity android:name=".activity.AdapterGoogleMainActivity" />
        <activity android:name=".activity.AdapterActivity" />
        <activity android:name="com.google.ads.mediation.sample.activity.AdmobRewardVideoActivity" />
        <activity android:name=".activity.AllExpressAdActivity" />


        <!-- Sample AdMob App ID: ca-app-pub-3000639232404350~2520092023 -->
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-2547387438729744~9596900917"/>-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2547387438729744~9596900917"/>

        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>